{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParents": "avoid",
	"printWidth": 150,
	"editor.formatOnSave": true,
	"editor.tabSize": 4
}
